<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxxd.SCM.Dao.OutListMapper" >

    <resultMap id="outListMap" type="com.mxxd.SCM.Entity.OutListEntity" >
        <id column="out_id" property="id" />
        <result column="out_timestamp" property="out_timestamp" />
        <result column="customer_id" property="customer_id" />
        <result column="customer_name" property="customer_name" />
        <result column="factory_id" property="factory_id" />
        <result column="factory_name" property="factory_name" />
        <result column="repository_id" property="repository_id" />
        <result column="repository_name" property="repository_name" />
        <result column="out_date" property="out_date" />
        <result column="product_main_code" property="product_main_code" />
        <result column="product_code" property="product_code" />
        <result column="product_color" property="product_color" />
        <result column="product_size" property="product_size" />
        <result column="product_density" property="product_density" />
        <result column="product_makou" property="product_makou" />
        <result column="product_mashu" property="product_mashu" />
        <result column="product_price" property="product_price" />
        <result column="total_price" property="total_price" />
        <result column="is_callback" property="is_callback" />
        <result column="comment" property="comment" />
    </resultMap>

    <select id="queryOutList" resultMap="outListMap">
        select outlist.*,factory.factory_name,repository.repository_name,customer_name
        from outlist,factory,repository,customer
        where 1=1 and outlist.factory_id = factory.factory_id and outlist.repository_id = repository.repository_id and outlist.customer_id = customer.customer_id
        <if test="id !=null and id !='' ">
            and out_id = #{id}
        </if>
        <if test="out_timestamp !=null and out_timestamp !='' ">
            and outlist.out_timestamp = #{out_timestamp}
        </if>
        <if test="customer_id !=null and customer_id !='' ">
            and customer_id = #{customer_id}
        </if>
        <if test="factory_id !=null and factory_id !='' ">
            and factory_id = #{factory_id}
        </if>
        <if test="repository_id !=null and repository_id !='' ">
            and repository_id = #{repository_id}
        </if>
        <if test="out_date !=null and out_date !='' ">
            and out_date = #{out_date}
        </if>
        <if test="product_main_code !=null and product_main_code !='' ">
            and product_main_code = #{product_main_code}
        </if>
        <if test="product_code !=null and product_code !='' ">
            and product_code = #{product_code}
        </if>
    </select>

    <insert id="insert" parameterType="com.mxxd.SCM.Entity.OutListEntity" >
       INSERT INTO
       		outlist
       		(out_timestamp,customer_id,factory_id,repository_id,out_date,product_main_code,product_code,product_color,
       		product_size,product_density,product_makou,product_mashu,product_price,total_price,is_callback,comment)
       	VALUES
       		(#{out_timestamp}, #{customer_id}, #{factory_id}, #{repository_id},#{out_date},#{product_main_code},
       		#{product_code},#{product_color},#{product_size},#{product_density},#{product_makou},
       		#{product_mashu},#{product_price},#{total_price},#{is_callback},#{comment})
    </insert>

    <update id="update" parameterType="com.mxxd.SCM.Entity.OutListEntity" >
        UPDATE
        outlist
        SET
        <if test="out_timestamp != null and out_timestamp != ''">out_timestamp = #{out_timestamp}</if>
        <if test="customer_id != null and customer_id != ''">,customer_id = #{customer_id}</if>
        <if test="factory_id != null and factory_id != ''">,factory_id = #{factory_id}</if>
        <if test="repository_id != null and repository_id != ''">,repository_id = #{repository_id}</if>
        <if test="out_date != null and out_date != ''">,out_date = #{out_date}</if>
        <if test="product_main_code != null and product_main_code != ''">,product_main_code = #{product_main_code}</if>
        <if test="product_code != null and product_code != ''">,product_code = #{product_code}</if>
        <if test="product_color != null and product_color != ''">,product_color = #{product_color}</if>
        <if test="product_size != null and product_size != ''">,product_size = #{product_size}</if>
        <if test="product_density != null and product_density != ''">,product_density = #{product_density}</if>
        <if test="product_makou != null and product_makou != ''">,product_makou = #{product_makou}</if>
        <if test="product_mashu != null and product_mashu != ''">,product_mashu = #{product_mashu}</if>
        <if test="product_price != null and product_price != ''">,product_price = #{product_price}</if>
        <if test="total_price != null and total_price != ''">,total_price = #{total_price}</if>
        <if test="is_callback != null and is_callback != ''">,is_callback = #{is_callback}</if>
        <if test="comment != null and comment != ''">,comment = #{comment}</if>
        WHERE
        out_id = #{id}
    </update>

    <delete id="delete" parameterType="Integer" >
       DELETE FROM
       		 outlist
       WHERE
       		 out_id =#{0}
    </delete>

    <select id="today_outList" parameterType="String" resultType="Integer">
        select count(*) from outlist where out_date = #{0}
    </select>

</mapper>